* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.array .celda {
  width: 20px;
  height: 20px;
  border: 1px solid #DADADA;
  float: left;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center; }
