* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  text-align: center; }
  body #modal {
    display: none; }
  body.modal-open {
    overflow: hidden; }
    body.modal-open #modal {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed; }
      body.modal-open #modal #box {
        width: 90%;
        max-width: 350px;
        height: 300px;
        background-color: #179D9C;
        border-radius: 5px;
        padding-top: 20px; }
        body.modal-open #modal #box .form {
          width: 90%;
          margin: 0 auto; }
          body.modal-open #modal #box .form input {
            display: block;
            width: 100%;
            margin: 20px 0;
            height: 35px;
            padding-left: 5px;
            border-radius: 5px;
            border: 1px solid #DADADA;
            font-size: 15px; }
          body.modal-open #modal #box .form button {
            height: 35px;
            width: 150px;
            border: 0px;
            border-radius: 5px;
            background-color: #9D1717;
            font-size: 15px;
            color: #fff;
            cursor: pointer; }

@keyframes click-button {
  0% {
    text-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff; }
  50% {
    text-shadow: 0px 0px 15px #fff, 0px 0px 15px #fff; }
  100% {
    text-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff; } }

header {
  width: 100%;
  background-color: #4A4A4A;
  padding: 10px 0px; }
  header .operations {
    width: 100%;
    text-align: center;
    color: #fff;
    position: relative;
    display: inline-block;
    margin: 5px 0px; }
    header .operations .control {
      font-size: 20px;
      display: inline-block; }
      header .operations .control button {
        color: #fff;
        background-color: transparent;
        border: 0px;
        margin: 0px 10px;
        cursor: pointer;
        vertical-align: middle; }
        header .operations .control button.click-animation {
          animation: click-button 1.2s ease-in-out infinite; }
    header .operations .elemento.f {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 40px; }
      header .operations .elemento.f.no-value .index {
        font-size: 15px;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%); }
      header .operations .elemento.f .value {
        border: 0px;
        background-color: #179D9C; }
      header .operations .elemento.f .index {
        right: 3px;
        color: #FFF;
        bottom: 0px;
        font-size: 8px;
        transition: all ease-in-out .3s; }

.container {
  width: 320px;
  margin: 0 auto; }

.vector-estado {
  margin-top: 20px;
  display: inline-block; }

.vector h2 {
  font-size: 10px;
  margin: 5px 0px; }

.vector-k {
  overflow: hidden;
  transition: height 1s ease-in-out; }
  .vector-k.hide {
    height: 0px; }

.vector-clave {
  display: flex;
  overflow-x: auto;
  width: 100%; }
  .vector-clave .fila {
    flex-shrink: 0; }

.fila {
  display: flex; }

.elemento {
  width: 20px;
  height: 20px;
  position: relative; }
  .elemento .value {
    font-size: 10px;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #DADADA; }
  .elemento .index {
    position: absolute;
    font-size: 5px;
    bottom: 0px;
    right: 1px;
    color: #DADADA;
    z-index: 5; }

@media screen and (min-width: 640px) {
  header {
    text-align: center; }
    header .operations .control {
      font-size: 35px; }
    header .operations .elemento.f.no-value .index {
      font-size: 32px; }
    header .operations .elemento.f .index {
      right: 4px;
      font-size: 15px; }
  .vector-clave {
    height: 40px; }
  .container {
    width: 640px; }
  .fila {
    width: 640px; }
  .elemento {
    width: 40px;
    height: 40px; }
    .elemento .value {
      font-size: 16px; }
    .elemento .index {
      position: absolute;
      font-size: 12px;
      bottom: 0px;
      right: 1px;
      color: #DADADA; } }
