* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  text-align: center; }
  body #modal {
    display: none; }
  body.modal-open {
    overflow: hidden; }
    body.modal-open #modal {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed; }
      body.modal-open #modal #box {
        width: 90%;
        max-width: 350px;
        height: 300px;
        background-color: #179D9C;
        border-radius: 5px;
        padding-top: 20px; }
        body.modal-open #modal #box .form {
          width: 90%;
          margin: 0 auto; }
          body.modal-open #modal #box .form input {
            display: block;
            width: 100%;
            margin: 20px 0;
            height: 35px;
            padding-left: 5px;
            border-radius: 5px;
            border: 1px solid #DADADA;
            font-size: 15px; }
          body.modal-open #modal #box .form button {
            height: 35px;
            width: 150px;
            border: 0px;
            border-radius: 5px;
            background-color: #9D1717;
            font-size: 15px;
            color: #fff;
            cursor: pointer; }

header {
  width: 100%;
  background-color: #4A4A4A;
  padding-top: 20px; }
  header .operations {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    position: relative; }
    header .operations .control {
      font-size: 20px;
      display: inline-block; }
      header .operations .control button {
        color: #fff;
        background-color: transparent;
        border: 0px;
        margin: 0px 10px;
        cursor: pointer; }
    header .operations .elemento.f {
      position: absolute;
      top: 0px;
      left: 40px;
      background-color: #179D9C;
      border: 0px; }
      header .operations .elemento.f::after {
        content: "f";
        position: absolute;
        font-size: 13px;
        bottom: 0px;
        right: 4px;
        color: #FFF; }

.container {
  width: 320px;
  margin: 0 auto; }

.vector-estado {
  margin-top: 20px;
  display: inline-block; }

.vector-clave {
  display: flex;
  overflow-x: auto; }

.fila {
  display: flex; }

.elemento {
  width: 20px;
  height: 20px;
  border: 1px solid #DADADA;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FAFAFA; }
  .elemento .index {
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    right: 1px;
    color: #DADADA; }

@media screen and (min-width: 640px) {
  header {
    padding: 20px 0px;
    text-align: center; }
    header .operations .control {
      font-size: 35px; }
  .container {
    width: 640px; }
  .fila {
    width: 640px; }
  .elemento {
    width: 40px;
    height: 40px;
    font-size: 16px; } }
